PORT=4000
FRONTEND_ORIGIN=http://localhost:5173
EVALUATION_BASE_URL=http://20.207.122.201/evaluation-service
EVALUATION_REGISTER_URL=http://20.207.122.201/evaluation-service/register
EVALUATION_AUTH_URL=http://20.207.122.201/evaluation-service/auth
EVALUATION_LOGS_URL=http://20.207.122.201/evaluation-service/logs
EVALUATION_NAME=Kaluru Anirudh
EVALUATION_EMAIL=ka9890@srmist.edu.in
EVALUATION_ROLL_NUMBER=RA2311056010001
EVALUATION_ACCESS_CODE=QkbpxH
EVALUATION_MOBILE=8455050970
EVALUATION_GITHUB_USERNAME=KaluruAnirudh
